@font-face{
  font-family: 'ProximaNova-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('ProximaNova-Bold'),
    url('../fonts/ProximaNova-Bold.woff');
  font-display:swap;
}
@font-face{
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('ProximaNova-Regular'),
    url('../fonts/ProximaNova-Regular.woff');
  font-display:swap;
}